*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(9,0,77,0.80),rgba(9,0,77,0.80)),url(background.png);
    background-size: cover;
    background-position: center;
    padding: 10px 8px;
}
.contact-container{
    display: flex;
    align-items: space-evenly;
}
.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.btn{
    width: 100px;
    display: flex;
    align-items: center;
    padding: 10px 24px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background: #f5168d;
    color: white;
    font-weight: 500;
    cursor: pointer;
    margin-left: 74px;
    font-size: 24px;
}
.contact-container form{
    background-color: white;
    width: 280px;
    height: 280px;
    margin-top: 240px;
    margin-left: -340px;
    padding: 20px 15px;
    

    
}
.contact-container h1{
    color: white;
    font-size: 70px;
    margin-top: 140px;
    margin-left: 400px;
}
.contact-container input{
    font-size: 20px;
    height: 40px;
}
.contact-container textarea{
    font-size: 22px;
    height: 100px;
    margin-bottom: 10px;
}